<ion-content padding>
  <ion-item center>
    <ion-label
      *ngIf="cartItems?.length !== 0"
      color="danger"
      class="ion-text-wrap warning"
    >
      WARNING: DO NOT click on CONFIRM until your transfer payment is
      successful. Click FAILED if the transfer did not succeed.
    </ion-label>
  </ion-item>

  <ion-list [inset]="true">
    <ion-list-header *ngIf="cartItems?.length !== 0">
      <ion-item>
        <h2>Your current items</h2>
        <ion-icon
          id="info-icon"
          name="information-circle-outline"
          size="medium"
        ></ion-icon>
        <ion-popover trigger="info-icon" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              Slide an item left to remove from cart
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-list-header>
    <ion-label *ngIf="cartItems?.length === 0"
      >You may scan products to add items to your cart.</ion-label
    >
    <p *ngIf="cartItems?.length === 0">
      Your cart icon will turn green
      <ion-icon
        name="cart"
        color="success"
        size="large"
        id="info-green-cart"
      ></ion-icon>
      when you begin adding items.
    </p>

    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item padding>
        <ion-label class="ion-text-wrap">{{item.title}} </ion-label>
        <span id="item-price">{{item.price}}</span>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon
            slot="icon-only"
            size="small"
            name="trash"
            (click)="removeCartItem(item)"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-label
      *ngIf="cartItems?.length !== 0"
      class="ion-text-wrap"
      style="font-weight: bold"
      >Transfer <span>{{total}}</span> naira to UBA no. 001089550
      now.</ion-label
    >
  </ion-item>
  <ion-button
    *ngIf="cartItems?.length !== 0"
    class="transfer-btn"
    color="warning"
    >failed</ion-button
  >
  <ion-button
    *ngIf="cartItems?.length !== 0"
    class="transfer-btn"
    color="secondary"
    (click)="showLoading()"
    >confirm</ion-button
  >
</ion-content>
