ion-item {
  display: flex;
  justify-content: space-between;
}

#info-icon {
  padding-left: 0.8rem;
  padding-top: 8px;

  cursor: pointer;
}

#info-green-cart {
  vertical-align: middle;
}

#item-price {
  font-weight: bold;
  padding-left: 1rem;
}

.modal-warning {
  margin-top: 16px;
}

#total-price {
  margin-left: 40%;
}

.transfer-btn {
  margin-top: 24px;
  margin-left: 15%;
}

.warning {
  padding: 8px;
  font-weight: bold;
}
