<ion-content padding>
  <ion-item center>
    <ion-label
      *ngIf="cartItems?.length !== 0"
      color="danger"
      class="ion-text-wrap warning"
    >
      WARNING: DO NOT click on TRANSFER DONE until you make payment via
      transfer.
    </ion-label>
  </ion-item>

  <ion-list [inset]="true">
    <ion-list-header>
      <h4>Your current items</h4>
    </ion-list-header>
    <ion-label *ngIf="cartItems?.length === 0"
      >Oops! Looks like you have not scanned any items, yet.</ion-label
    >
    <p *ngIf="cartItems?.length === 0">
      Your cart icon will turn green when you begin adding items.
      <ion-icon name="cart" color="success" size="medium"></ion-icon>
    </p>
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item padding>
        <ion-label class="ion-text-wrap">{{item.title}} </ion-label>
        <span id="item-price">{{item.price}}</span>
        <ion-icon
          id="info-icon"
          name="information-circle-outline"
          size="medium"
        ></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon
            slot="icon-only"
            size="small"
            name="trash"
            (click)="removeCartItem(item)"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-label
      *ngIf="cartItems?.length !== 0"
      class="ion-text-wrap"
      style="font-weight: bold"
      >Transfer <span>{{total}}</span> naira to UBA no. 001089550
      now.</ion-label
    >
  </ion-item>

  <ion-button
    *ngIf="cartItems?.length !== 0"
    class="transfer-btn"
    color="secondary"
    >Transfer done</ion-button
  >
</ion-content>
