<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="container">
    <!-- Results display area -->
    <div class="logo">
      <ion-img
        src="./../../assets/image/logo.png"
        alt="An octopus embracing a white egg"
      ></ion-img>
    </div>
    <ion-card *ngIf="scanResult" class="result-card">
      <ion-card-header>
        <ion-card-title>Result</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{scanResult}}</ion-card-content>
      <ion-button (click)="reset()">Checkout</ion-button>
      <ion-button (click)="startScan()">Continue shopping</ion-button>
    </ion-card>

    <ion-button (click)="startScan()" *ngIf="!scanResult">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
      Scan
    </ion-button>
    <!-- <ion-button (click)="reset()" *ngIf="scanResult">
      <ion-icon name="refresh"></ion-icon>
      Reset
    </ion-button> -->
    <!-- Show camera stream -->
    <video #video [hidden]="!scanActive" width="100%"></video>

    <!-- Render camera stream image or receipt text -->
    <canvas #canvas hidden></canvas>

    <!-- Stop scan preview if active -->
    <ion-button (click)="stopScan()" *ngIf="scanActive">
      <ion-icon slot="start" name="close"></ion-icon>
      Stop scan
    </ion-button>
  </div>
</ion-content>
