.btn {
  margin-left: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

#close-icon {
  align-self: flex-end;
}

.logo {
  height: 170px;
}

ion-card-title {
  align-self: center;
}

ion-img::part(image) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.result-card {
  height: 350px;
  padding: 6px;
  background-color: wheat;
}

span {
  font-weight: bold;
}
