<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Results display area -->
    <div class="logo" *ngIf="!scanResult && !scanActive">
      <ion-icon
        (click)="cartIconAction()"
        name="cart"
        size="large"
        [color]="!cartIsEmpty ? 'success' : '#555'"
        id="cart-icon"
      ></ion-icon>
      <ion-img
        src="./../../assets/image/logo.png"
        alt="An octopus embracing a white egg"
      ></ion-img>
    </div>
    <ion-card *ngIf="scanResult && !scanActive" class="result-card">
      <ion-icon
        name="close"
        size="large"
        color="danger"
        id="close-icon"
        (click)="reset()"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title>{{title}}</ion-card-title>
        <ion-card-subtitle>{{price}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h4>{{desc}}</h4>
        <span class="bold-info">Checkout:</span> End shopping and pay for this
        item <span class="bold-info">Continue:</span> Save this item in cart, so
        that you can scan and add other items.
      </ion-card-content>
      <ion-button color="secondary" (click)="presentModal()" class="btn"
        >Checkout</ion-button
      >
      <ion-button color="secondary" (click)="continueScans()" class="btn"
        >Continue</ion-button
      >
    </ion-card>

    <ion-button
      color="secondary"
      (click)="startScan()"
      *ngIf="!scanResult && !scanActive"
    >
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Scan
    </ion-button>

    <!-- Show camera stream -->
    <div class="video-div" [hidden]="!scanActive">
      <video
        #video
        [hidden]="!scanActive"
        width="100%"
        height="450"
        style="
          border: 5px solid rgb(243, 204, 32);
          border-bottom: 0px;
          border-top: 0px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        "
      ></video>
    </div>

    <!-- Render camera stream image or receipt text -->
    <canvas #canvas hidden height="650"></canvas>

    <!-- Stop scan preview if active -->
    <ion-button color="secondary" (click)="stopScan()" *ngIf="scanActive">
      <ion-icon slot="start" name="close"></ion-icon>
      Stop scan
    </ion-button>
  </div>
</ion-content>
