<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="container">
    <!-- Results display area -->
    <div class="logo">
      <ion-img
        src="./../../assets/image/logo.png"
        alt="An octopus embracing a white egg"
      ></ion-img>
    </div>
    <ion-card *ngIf="scanResult" class="result-card">
      <ion-icon
        name="close"
        size="large"
        color="danger"
        id="close-icon"
        (click)="reset()"
      ></ion-icon>
      <ion-card-header>
        <!-- <ion-card-title>Your purchase</ion-card-title> -->
        <ion-card-title>{{title}}</ion-card-title>
        <ion-card-subtitle>{{price}}</ion-card-subtitle>
        <!-- <ion-card-subtitle
          ><span class="bold-info">Checkout:</span> End shopping and pay for
          this item</ion-card-subtitle
        >
        <ion-card-subtitle
          ><span class="bold-info">Continue:</span> Save this item in cart, so
          that you can scan and add other items</ion-card-subtitle
        > -->
      </ion-card-header>
      <!-- <ion-card-content>{{scanResult}}</ion-card-content> -->
      <ion-card-content>
        <h4>{{desc}}</h4>
        <span class="bold-info">Checkout:</span> End shopping and pay for this
        item <span class="bold-info">Continue:</span> Save this item in cart, so
        that you can scan and add other items.
      </ion-card-content>
      <ion-button color="secondary" (click)="reset()" class="btn"
        >Checkout</ion-button
      >
      <ion-button color="secondary" (click)="startScan()" class="btn"
        >Continue</ion-button
      >
    </ion-card>

    <ion-button color="secondary" (click)="startScan()" *ngIf="!scanResult">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Scan
    </ion-button>
    <!-- <ion-button (click)="reset()" *ngIf="scanResult">
      <ion-icon name="refresh"></ion-icon>
      Reset
    </ion-button> -->
    <!-- Show camera stream -->
    <div class="video-div" [hidden]="!scanActive">
      <video #video [hidden]="!scanActive" width="100%"></video>
    </div>

    <!-- Render camera stream image or receipt text -->
    <canvas #canvas hidden></canvas>

    <!-- Stop scan preview if active -->
    <ion-button color="secondary" (click)="stopScan()" *ngIf="scanActive">
      <ion-icon slot="start" name="close"></ion-icon>
      Stop scan
    </ion-button>
  </div>
</ion-content>
