.btn {
  margin-left: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

#close-icon {
  align-self: flex-end;
}

.logo {
  display: flex;
  height: 170px;
  // flex-direction: row;
}

ion-card-title {
  align-self: center;
}

ion-img::part(image) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 2rem;
}

.result-card {
  height: 370px;
  padding: 6px;
  background-color: wheat;
}

span {
  font-weight: bold;
  color: teal;
}

.video-div {
  width: 100%;
  margin: 6px 0px 6px 0px;
  border: 18px solid rgb(243, 204, 32);
  border-radius: 18px;
}
